<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>сайт Николая</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<div id="content">

            <% include blocks/header.ejs %>
    <h1>Страница не найдена</h1>
    
</div>
<div id="footer">
    Copyright &copy; 2017
</div>
</body>
</html>