<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Ссылки</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
<div id="content">
    <% include blocks/header.ejs %>

    <h1>ссылки</h1>
    <div id="center">
            <p><ul>здесь можно найти:</ul>
            <li>Моя страница в <a href="https://vk.com/id169064434">вк.</a></li>
            <li>Моя страница в <a href="https://vk.com/id169064434" target="_blank">вк(откроется в новом окне).</li></a>
            <li>Мой <a href="http://steamcommunity.com/profiles/76561198109990111/">steam.</li></a>
            <li>Мой <a href="http://steamcommunity.com/profiles/76561198109990111/" target="_blank">steam(в новом окне).</li></a>
        </div>
    </div>
</div>
<div id="footer">
    Copyright &copy; 2017
</div>
</body>
</html>