<!DOCTYPE html>
<html>
<head>
	<title>Video</title>
<link rel="stylesheet" href="public/css/style.css">
</head>
<body >  
<div id="content">
    <% include blocks/header.ejs %>
    <h1>Видео добавлено!</h1>
    <p><a href="video">перейти к видео</a></p>
</div>

</body>
</html>