<div id="header">
        <a href="../index">Главная</a>/
		<a href="../screenshot/0">Скриншоты</a>/
        <a href="../video">Видео</a>/
        <a href="../bla">Ссылки</a>/
        <a id = "ddd" href="../registration"></a>
</div>

<script src = "../public/scripts/bla.js"></script>